---
import PageHistory from '../components/PageHistory.astro';
import Page from '../components/titles/Page.astro';
import Section from '../components/titles/Section.astro';
import Base from '../layouts/Base.astro';
const title = "Blog";
const description = "Description.";
---

<Base title={title} description={description}>
	<section id="homepage">
		<!-- title -->
		<Page title={title} />
    <PageHistory />
		<main>
			<!-- section -->
      <article id="section-name-1" aria-labelledby="section-title-1">
        <div class="container">
          <Section id="section-title-1" title="Section 1" />
          <p>Section 1 content</p>
        </div>
      </article>
      <!-- section -->
      <article id="section-name-2" aria-labelledby="section-title-2">
        <div class="container">
          <Section id="section-title-2" title="Section 2" />
          <p>Section 2 content</p>
        </div>
      </article>
		</main>
	</section>
</Base>

<style>
	
</style>