---
import CTA from '../components/page-sections/index/CTA.astro';
import Features from '../components/page-sections/index/Features.astro';
import Hero from '../components/page-sections/index/Hero.astro';
import Intro from '../components/page-sections/index/Intro.astro';
import Projects from '../components/page-sections/index/Projects.astro';
import Base from '../layouts/Base.astro';
const title = "Home";
const description = "Description.";
---

<Base title={title} description={description}>
	<section id="homepage">
		<!-- hero / title -->
    <Hero />
		<main>
      <Intro />
			<Projects />
      <Features />
      <CTA />
		</main>
	</section>
</Base>

<style>
	
</style>
