---
import Section from "../../titles/Section.astro";
---

<article id="intro">
  <div class="container">
    <Section title="Intro" />
    <p>Intro content</p>
    JavaScript, TypeScript, Java, C++, Python, SQL, HTML, CSS
    NextJS, React, Node, Express.js, Tailwind CSS, SCSS
  </div>
</article>