---
import ProjectCard from "../../cards/ProjectCard.astro";
import Section from "../../titles/Section.astro";
---

<article id="projects">
  <div class="container">
    <Section title="Work" />
    <p>Work content</p>

    <div class="filter-btn-container">
      <button class="filter-btn active" id="all">All</button>
      <button class="filter-btn" id="front-end">Front-end</button>
      <button class="filter-btn" id="full-stack">Full-stack</button>
      <button class="filter-btn" id="back-end">Back-end</button>
    </div>

    <div class="project-card-container">
      <div class="project-card front-end">
        <ProjectCard 
          title="Front-end project" 
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quaerat, accusamus nobis magnam quod quas nam, animi numquam. Sed labore aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>

      <div class="project-card front-end">
        <ProjectCard 
          title="Front-end project" 
          description="Lorem ipsum dolor. Nostrum quaerat, accusamus nobis magnam quod quidem rem doloribus aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>
      
      <div class="project-card full-stack">
        <ProjectCard 
          title="Full-stack project" 
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum animi. Sed labore aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>

      <div class="project-card full-stack">
        <ProjectCard 
          title="Full-stack project" 
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quaerat, accusamus nobis magnam quod quas nam, animi numquam. Sed labore aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>

      <div class="project-card back-end">
        <ProjectCard 
          title="Back-end project" 
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quaerat, animi numquam. Sed labore aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>

      <div class="project-card back-end">
        <ProjectCard 
          title="Back-end project" 
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quaerat, accusamus nobis magnam quod quas nam, animi numquam. Sed labore aperiam amet!"
          repo="portfolio"
          live="https://github.com/awrenee"
          tech={['JavaScript', 'NodeJs', 'ExpressJs', 'Astro', 'HTML5', 'CSS3']} 
        />
      </div>

    </div>
  </div>
</article>

<style>
  .project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
  }

  @media screen and (max-width: 800px) {
    .project-card-container {
      grid-template-columns: 1fr;
    }
  }

  .filter-btn.active {
    background-color: #dadada;
  }

  .project-card {
    display: none;
  }

  .show {
    display: block;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const filterButtons = document.querySelectorAll('.filter-btn');
    const projectCards = document.querySelectorAll('.project-card');

    // display filtered projects
    function filterProjects(category) {
      projectCards.forEach(card => {
        if (category === 'all' || card.classList.contains(category)) {
          card.classList.add('show');
        } else {
          card.classList.remove('show');
        }
      });
    }

    // show all projects on page load
    filterProjects('all');

    // add click event listeners to filter btns
    filterButtons.forEach(button => {
      button.addEventListener('click', () => {
        // remove active class from all btn
        filterButtons.forEach(btn => btn.classList.remove('active'));
        // add active class to the clicked btn
        button.classList.add('active');

        // get the filter category from the btn id
        const category = button.id;
        filterProjects(category);
      });
    });
  });
</script>